<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Uploader!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">File uploader!</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link" href="/"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Home</button></a></li>
            <li><a class="nav-link" href="/upload"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Upload a new File</button></a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <h1>Uploaded Files</h1>
    <ul class="list-group">
        {%for file in files%}
        <li class="list-group-item">
            <a href="uploads/{{file[0]}}-{{file[1]}}" target="_blank">
                <h3>{{file[2]}}</h3>
                <p>{{file[1]}}</p>
            </a>
<!--            Uploaded at: <p>{{file[0]}}</p>-->
        </li>
        {%endfor%}
    </ul>
</div>

</body>
</html>